---
layout: default
title: Discography
meta: Irukanji discography, releases, compilations, albums
keywords: discography, releases, compilations, albums

og-image: discography-og.jpg

permalink: /discography/
---

<br>
<br>
<br>
<br>

<main class="wrapper">
    <section class="discography-page">

        <h2><span class="icon-kokopelli"></span> Discography</h2>

        <div class="releases-container">
            {% for releases in site.categories.releases %}
                {% include ReleaseItem.html %}
            {% endfor %}
        </div>
    </section>
</main>
