/* ----------------------------------------------------------------------------------------------------
release page
---------------------------------------------------------------------------------------------------- */
article.release-page {
	padding: 100px 0;

	img {
		width: 100%;
		display: block;
		margin-bottom: 40px;
	}

}
