<section class="bandcamp-widget">

    <p>Download Irukanji music for free (mp3, flac, wav) and if you like it, please make donate easily using <a href="https://irukanji.bandcamp.com" target="_blank"><span class="icon-bandcamp"></span> bandcamp</a>:</p>

    <div class="bandcamp-list">

      <div class="bandcamp-item">
        <iframe
          style="height:640px;"
          data-layzr="http://bandcamp.com/EmbeddedPlayer/v=2/album=2563369517/track=52697559/layout=http_3A_2F_2Fbandcamp-play.github.io_2Firukanji-album.json/bgcol=333/linkcol=88ffff/debug=true/"
        ></iframe>
      </div>

      <div class="bandcamp-item">
        <iframe
          style="height:360px;"
          data-layzr="http://bandcamp.com/EmbeddedPlayer/v=2/album=2581336461/layout=http_3A_2F_2Fbandcamp-play.github.io_2Firukanji-album.json/bgcol=333/linkcol=88ffff/debug=true/"
        ></iframe>
      </div>

      <div class="bandcamp-item">
        <iframe
          style="height:360px;"
          data-layzr="http://bandcamp.com/EmbeddedPlayer/v=2/album=728290111/layout=http_3A_2F_2Fbandcamp-play.github.io_2Firukanji-album.json/bgcol=333/linkcol=88ffff/debug=true/"
        ></iframe>
      </div>

    </div>

    <div class="thanks">Huge thanks for your support!</div>

</section>
