<footer>

	<div class="gigantic"><span class="icon-deer"></span></div>

	<nav>
		<a href="https://www.facebook.com/irukanji.music" target="_blank"><span class="icon-facebook-official"></span> facebook</a>
		<a href="https://soundcloud.com/irukanji-music" target="_blank"><span class="icon-soundcloud"> soundcloud</a>
		<a href="http://coub.com/irukanji.music" target="_blank"><span class="icon-coub"> coub</a>
		<a href="http://www.discogs.com/artist/1375976-Irukanji" target="_blank"><span class="icon-discogs"></span> discogs</a>
		<a href="https://irukanji.bandcamp.com" target="_blank"><span class="icon-bandcamp"></span> bandcamp</a>
	</nav>

	<p class="copyright"><span class="icon-spiral1"></span></p>

	<p>Design & Development by <a href="http://ihororlovskyi.github.io/" target="_blank"><span class="icon-eagle"></span> Ihor Orlovskyi</a></p>
	<p class="copyright"> Irukanji 2008 - 2015 © All Rights Reserved</p>

	<p class="copyright"><span class="icon-spiral2"></span></p>

</footer>
