<section class="releases">

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">

				<iframe width="100%" height="600" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/5771025&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

			</div>
		</div>
	</div>

	<h2><span class="icon-spiral2"></span> Releases: <span class="icon-spiral2"></span></h2>

	<article>
		<p>VA "Space Invaders"</p>
	</article>

	<article>
		<p>VA "Audio Elastique"</p>
	</article>

	<article>
		<p>VA "Ukranian Dimension"</p>
	</article>

	<article>
		<p>VA "Psyderchill 2"</p>
	</article>

	<article>
		<p>VA "Tabula Rasa"</p>
	</article>

	<article>
		<p>Hypnotriod "Seven Heavenly Edges"</p>
	</article>

	<article>
		<p>VA "Special Places"</p>
	</article>

	<article>
		<p>VA "Absence Of Gravity"</p>
	</article>

	<article>
		<p>VA "Sound Drops"</p>
	</article>

	<article>
		<p>VA "Tempo Syndicate"</p>
	</article>

	<article>
		<p>VA "Grover"</p>
	</article>

	<article>
		<p>VA "Ocean Scenes: Higher Titans"</p>
	</article>

	<article>
		<p>Irukanji "Z Lisu"</p>
	</article>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">

				<article>
					<div class="embed-responsive embed-responsive-16by9">
					  <iframe class="embed-responsive-item" src="//coub.com/embed/3hy04?muted=false&autostart=false&originalSize=false&hideTopBar=false&startWithHD=true"></iframe>
					</div>
				</article>

			</div>
		</div>
	</div>

</section>
