<section class="releases">

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">

				<h2>Releases:</h2>

				<div class="isotope-container">

					{% for releases in site.categories.releases %}
						<article class="isotope-item">
							<a href="{{site.baseurl}}{{releases.url}}">
								<div class="image-contour">
									<img src="{{site.baseurl}}/assets/img/releases/{{releases.release-id}}-sq.jpg" alt="{{releases.title}}">
								</div>
								<h3>{{releases.title}}</h3>
								<div>By {{releases.label}}</div>
							</a>

							<section>
								<div><small>layout</small> {{releases.layout}}</div>
								<div><small>id</small> {{releases.id}}</div>
								<div><small>date</small> {{releases.date | date: "%-d %B %Y"}}</div>
								<div><small>title</small> {{releases.title}}</div>
								<div><small>meta</small> {{releases.meta}}</div>
								<div><small>keywords</small> {{releases.keywords}}</div>
								<div><small>category</small> {{releases.category}}</div>
								<div><small>permalink</small> {{releases.permalink}}</div>
								<div><small>release-id</small> {{releases.release-id}}</div>
								<div><small>label</small> {{releases.label}}</div>
								<div><small>ektoplazm</small> {{releases.ektoplazm}}</div>
							</section>

						</article>
					{% endfor %}

				</div>

			</div>
		</div>
	</div>

</section>

<!-- <img src="{{site.baseurl}}/assets/img/header-bg.jpg" alt="{{releases.title}}" data-action="zoom">
 -->