<section class="releases">
	<div class="vertical-centering">

		<p>Releases:</p>

		<article>
			<p>VA "Space Invaders"</p>
		</article>

		<article>
			<p>VA "Audio Elastique"</p>
		</article>

		<article>
			<p>VA "Ukranian Dimension"</p>
		</article>

		<article>
			<p>VA "Psyderchill 2"</p>
		</article>

		<article>
			<p>VA "Tabula Rasa"</p>
		</article>

		<article>
			<p>Hypnotriod "Seven Heavenly Edges"</p>
		</article>

		<article>
			<p>VA "Special Places"</p>
		</article>

		<article>
			<p>VA "Absence Of Gravity"</p>
		</article>

		<article>
			<p>VA "Sound Drops"</p>
		</article>

		<article>
			<p>VA "Tempo Syndicate"</p>
		</article>

		<article>
			<p>VA "Grover"</p>
		</article>

		<article>
			<p>VA "Ocean Scenes: Higher Titans"</p>
		</article>

		<article>
			<p>Irukanji "Z Lisu"</p>
		</article>

	</div>
</section>
