<aside>

	<!-- <h5><span class="icon-discogs"></span> Discography</h5> -->

	<div class="isotope-container">

		{% for releases in site.categories.releases %}
			<article class="isotope-item">
				<a href="{{ site.baseurl }}{{ releases.url }}">
					<div class="image-contour">
						<img src="{{ site.baseurl }}/assets/img/releases/{{ releases.release-id }}-th.jpg" alt="{{ releases.title }}">
					</div>
					<div>{{ releases.title }}</div>
					<!-- <small>{{ releases.label }}</small> -->
					<!-- <small>{{ releases.date | date: "%Y" }}</small> -->
					<!-- <small>{{ releases.date | date: "%m/%d/%Y" }}</small> -->
				</a>

			</article>
		{% endfor %}

		</div>

		<!-- <a href="{{ site.baseurl }}/discography"><span class="icon-discogs"></span> Full Discography</a> -->

</aside>