/* ----------------------------------------------------------------------------------------------------
footer
---------------------------------------------------------------------------------------------------- */
footer {
	height: auto;
	width: 100%;
	position: relative;
	text-align: center;
	padding: 40px 0;

	nav.contact {
		margin-bottom: 20px;
	}

	nav.social {
		margin-bottom: 20px;

		a {
			margin: 0 8px; 
		}
	}

	p {
		margin: 0;
	}

}
