/* ----------------------------------------------------------------------------------------------------
footer
---------------------------------------------------------------------------------------------------- */
footer {
	height: auto;
	// min-width: 50%;
	width: 100%;
	position: relative;
	text-align: center;
	padding: 60px 0 100px;
	// @include box-sizing(border-box);

	nav.contact {
		margin-bottom: 20px;
	}

	nav.social {
		margin-bottom: 20px;

		a {
			margin: 0 8px; 
		}
	}

	p.copyright {
		margin: 0;
	}

}
