/* ----------------------------------------------------------------------------------------------------
header
---------------------------------------------------------------------------------------------------- */
header {

	&.header {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 99999999999999999999;
		width: 100%;
		background: rgba(34, 34, 34, 0.0);
		// background: #222;
		padding: 20px 12.5%;
		@include box-sizing(border-box);
	}
	&.header-down {
		float: left;
		padding: 10px 2.5%;
		background: rgba(34, 34, 34, 1.0);
	}
	&.header-up {}

	nav.brand {
		float: left;

		a {
			float: left;
			margin-right: 20px;
			// text-transform: uppercase;

			[class^="icon-"] {
				// font-size: 20px;
				// position: relative;
				// top: 2px;
			}
		}
	}
	nav.social {
		float: right;

		a {
			margin-left: 20px;
		}
	}

}

.zoom-overlay-open {
	header.header {

	}
}