/* ----------------------------------------------------------------------------------------------------
header
---------------------------------------------------------------------------------------------------- */
header.header {
	@include transition(all 1.0s $ease-out-quint);

	&.header {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 99999999999999999999;
		width: 100%;
		background: rgba(34, 34, 34, 0.0);
		// background: #222;
		padding: 0 10%;
		@include box-sizing(border-box);

		&.header-down {
			float: left;
			padding: 0 2.5%;
			background: rgba(34, 34, 34, 1.0);
		}
		&.header-up {}
	}


	a {
		padding: 10px 12px;
		line-height: 22px;
		display: inline-block;
		color: #fff;
		text-shadow: 1px 1px 10px #000, -1px -1px 10px #000;

		&:hover,
		&.selected {
			color: $link-color;
			text-shadow: 1px 1px 20px #000, -1px -1px 20px #000;
		}
	}

	nav.brand {
		float: left;

		a {

			[class^="icon-"] {
				float: left;
				font-size: 22px;
				// line-height: 1px;
				position: relative;
				// top: 6px;
				margin-right: 10px;
			}

			i {
				float: left;
				font-style: normal;
				font-size: 12px;
				position: relative;
				top: 2px;
				text-transform: uppercase;
			}

		}
	}
	nav.social {
		float: right;

		a {
			// font-size: 8px;
			// line-height: 17px;
			// margin-left: 20px;

			[class^="icon-"] {
				float: left;
				font-size: 22px;
				// line-height: 1px;
				position: relative;
				// top: 6px;
				margin-right: 10px;
			}

			i {
				// display: none;
				float: left;
				font-style: normal;
				font-size: 10px;
				// text-transform: uppercase;
				letter-spacing: -0.5px;
			}

		}
	}

}

.zoom-overlay-open {
	header.header {
		@include transform(translateY(-100%));
	}
}