/* ----------------------------------------------------------------------------------------------------
parallax window
---------------------------------------------------------------------------------------------------- */
.parallax-window {
	position: relative;
	height: 50%;
	background: transparent;

	&:after {
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-image:
			radial-gradient(circle at 25% 25%, #000 10%, transparent 15%),
			radial-gradient(circle at 75% 75%, #000 10%, transparent 15%);
		background-size: 5px 5px;
	}
	
	h1 {
		position: absolute;
		width: auto;
		top: 50%;
		// left: 50%;
		// display: inline-block;
		// @include transform(translate(-50%, -50%));
		width: 100%;
		text-align: center;
		@include transform(translateY(-50%));
		z-index: 20;
		font-size: 60px;
		letter-spacing: 6px;
		text-shadow: 1px 1px 1px #000, -1px -1px 11px #000;
		color: #fff;

		[class^="icon-"] {
			// float: left;
			font-size: 1.25em;
			// line-height: 1px;
			position: relative;
			top: 0.125em;
			margin-right: 10px;
		}

	}

}