/*-------------------------------------------------------------------------*/
/* # EVENTS PAGE
/*-------------------------------------------------------------------------*/


/**
* header
* ----------------------------------------------------------------------------
*/
.events-page {
	padding: 80px 0;
	.isotope-item {
		float: left;
		width: 100%;
		// padding: 20px;
	}
}
