.release-page {
  margin-bottom: 80px;
  text-align: left;

  img {
    width: 100%;
    display: block;
    margin-bottom: 16px;
  }

  section {
    margin-bottom: 16px;
  }

  @include media($One) {
    @include span-columns(12);
  }

  @include media($Three) {
    @include span-columns(7);
    @include shift(1);
  }
}
