section.recent-releases {
  @include span-columns(10);
  @include shift(1);
  margin-bottom: 80px;

  .releases-container {
    @include clearfix;
    margin: 0 -8px 20px;

    article.release-item {
      float: left;
      padding: 0 8px;
      margin-bottom: 20px;
      box-sizing: border-box;

      @include media($One) {
        width: 100%;
      }

      @include media($Two) {
        width: 50%;
      }

      @include media($Three) {
        width: 33.333333%;
      }

      // @include media($ThreeSidebar) {
      //   width: 25%;
      // }

      @include media($Four) {
        width: 16.666666%;
      }

      a.image-link {
        display: block;
        margin-bottom: 10px;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
      .text-container {
        a.title-link {

        }
        .description {

        }
      }
    }
  }
}
