aside {
  .isotope-container {
    margin-bottom: 10px;

    article.isotope-item {
      float: left;
      width: 100%;
      margin-bottom: 10px;

      .image-contur {
        float: left;
        overflow: hidden;
        margin-right: 10px;

        img {
          max-width: 60px;
          display: block;
          margin: 0;
        }
      }
    }
  }
}
