/* ----------------------------------------------------------------------------------------------------
sidebar
---------------------------------------------------------------------------------------------------- */
aside {
  .isotope-container {
    margin-bottom: 10px;

    article.isotope-item {
      float: left;
      width: 100%;
      margin-bottom: 10px;
      // padding: 0 20px;
      // box-sizing: border-box;

      .image-contour {
        float: left;
        overflow: hidden;
        margin-right: 10px;

        img {
          max-width: 60px;
          display: block;
          margin: 0;
          @include transition(all 3.0s $ease-out-quint);
          @include transform(scale(1.0) translateZ(0));
        }
      }

      &:hover {
        img {
          @include transform(scale(1.2));
        }
      }
    }
  }
}
