.soundcloud-iframe {
  @include span-columns(10);
  @include shift(1);
  margin-bottom: 80px;

  iframe {
    width: 100%;
    max-width: 500px;
    height: 500px;
    display: block;
    border: none;
    margin: 0 auto;
  }
}
