.footer {
    height: auto;
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 80px;

    a {
        padding: 4px;
        display: inline-block;

            [class^="icon-"] {
                margin-right: 4px;
                position: relative;
                top: 2px;
            }
    }

    nav.contact {
        margin-bottom: 20px;
    }

    nav.sites {
        margin-bottom: 20px;
        font-size: 0;

        a {
            padding: 10px;
            display: inline-block;
            min-width: 60px;

            span {
                font-size: 100px;
                margin: 0 0 10px;
                display: inline-block;
            }

            i {
                font-size: 14px;
                font-style: normal;
                display: block;
            }
        }
    }

    nav.social {
        margin-bottom: 20px;

        a {
            margin: 0 4px;
        }
    }
}
