.header {
    left: 0;
    top: 0;
    z-index: 999999;
    width: 100%;
    background: rgba(#222, 0.25);
    box-sizing: border-box;
    position: fixed;
    @include transition(all 1.0s $ease-out-quint);
    padding: 6px 2.5%;
    @media (min-width: 992px) {& {padding: 6px 10%;}}
    &.header-down {
        float: left;
        padding: 6px 2.5%;
        background: rgba(34, 34, 34, 1.0);
    }
    &.header-up {
    }

    nav {
            a {
            padding: 4px 12px;
            line-height: 22px;
            float: left;

            [class^="icon-"] {
                float: left;
                font-size: 22px;
                position: relative;
            }

            i {
                font-style: normal;
                margin-left: 10px;
                float: left;
                display: none;
                @media (min-width: 992px) {& {display: block;}}
            }
        }
        &.brand {
            float: left;
            a {
                [class^="icon-"] {
                }
                i {
                    font-size: 12px;
                    text-transform: uppercase;
                    position: relative;
                    top: 2px;
                }
            }
        }
        &.social {
            float: right;
            a {
                [class^="icon-"] {
                }
                i {
                    font-size: 10px;
                    letter-spacing: -0.5px;
                }
            }
        }
    }
}

.zoom-overlay-open {
    header.header {
        @include transform(translateY(-100%));
    }
}


/**
* firm hover fx
* ----------------------------------------------------------------------------
*/
.firm-hover-fx {
    a {
        color: #fff;
        text-shadow: 1px 1px 16px #000, -1px -1px 16px #000;
        box-shadow: inset 0 0 0 #fff;
        @include transition(all 0.75s $ease-out-quint);
        &:hover,
        &.selected {
            color: $link-color;
            text-shadow: 1px 1px 8px #000, -1px -1px 8px #000;
            box-shadow: inset 0 0 30px $link-color;
        }
    }
}

