---
layout: default
titleAfter: Psychedelic Electronica Music
meta: Irukanji - psychedelic music project from Kyiv, Ukraine
keywords: 
permalink: /
---

{% include parallax-index.html %}

<section class="releases">

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">

				<h2>Discography</h2>

				<div class="isotope-container">

					{% for releases in site.categories.releases limit:6 %}
						<article class="isotope-item">
							<a href="{{ site.baseurl }}{{ releases.url }}">
								<div class="image-contour">
									<img src="{{ site.baseurl }}/assets/img/releases/{{ releases.release-id }}-sq.jpg" alt="{{ releases.title }}">
								</div>
								<h3>{{ releases.title }}</h3>
							</a>

						</article>
					{% endfor %}

				</div>

				<a href="{{ site.baseurl }}/discography"><span class="icon-discogs"></span>  Veiw full discography</a>

			</div>
		</div>
	</div>

</section>

