<section class="index-bandcamp">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="donate-me">

					<p>Download Irukanji music for free (mp3, flac, wav) and if you like it, please make donate easily using <a href="https://irukanji.bandcamp.com" target="_blank"><span class="icon-bandcamp"></span> bandcamp</a>:</p>

					<hr>

					<div class="row">
						<div class="col-sm-4">

							<p class="more">Tracks from compilations</p>

							<section><iframe style="height:640px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=2563369517/track=52697559/layout=http_3A_2F_2Fihororlovskyi.сom_2F_2Fbc_2Firukanji-album.txt/bgcol=333/linkcol=88ffff/debug=true/" allowtransparency="true" frameborder="0"></iframe></section>

						</div>
						<div class="col-sm-4">

							<p class="more"><a href="{{ site.baseurl }}/release/irukanji-z-lisu">Irukanji "Z Lisu"</a></p>

							<section><iframe style="height:360px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=2581336461/layout=http_3A_2F_2Fihororlovskyi.com_2F_2Fbc_2Firukanji-album.txt/bgcol=333/linkcol=88ffff/debug=true/" allowtransparency="true" frameborder="0"></iframe></section>

						</div>
						<div class="col-sm-4">

							<p class="more"><a href="{{ site.baseurl }}/release/sphingida-origin">Sphingida "Origin"</a></p>

							<section><iframe style="height:360px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=728290111/layout=http_3A_2F_2Fihororlovskyi.com_2F_2Fbc_2Firukanji-album.txt/bgcol=333/linkcol=88ffff/debug=true/" allowtransparency="true" frameborder="0"></iframe></section>

						</div>
					</div>

					<div class="thanks">Huge thanks for your support!</div>

				</div>
			</div>
		</div>
	</div>
</section>
