<section class="index-releases">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">

        <br>
        <br>

        <iframe 
          width="100%"
          height="500"
          scrolling="no"
          frameborder="no"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/5771025&amp;color=00aabb&amp;hide_related=true&amp;show_comments=true&amp;show_user=false&amp;sharing=false&amp;show_bpm=true">
        </iframe>

        <br>
        <br>
        <br>
        <br>

        <h2>Recent Releases</h2>

        <div class="relaselist-container isotope-container">
          {% for releases in site.categories.releases limit:4 %}
          <article class="relaselist-item isotope-item">
            <a href="{{ site.baseurl }}{{ releases.url }}">
              <div class="image-contour">
                <img
                  data-layzr="{{ site.baseurl }}/assets/img/releases/{{ releases.release-id }}-sq.jpg"
                  src="holder.js/700x700?auto=yes"
                >
              </div>
              <div class="title">{{ releases.title }}</div>
              <div class="description">{{ releases.label }}</div>
            </a>
          </article>
          {% endfor %}
        </div>

        <a href="{{ site.baseurl }}/discography" class="button"><span class="icon-discogs"></span>  Veiw full discography</a>

      </div>
    </div>
  </div>
</section>
