<!DOCTYPE html>
<html lang="en-US">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{page.title}} · {% endif %}Irukanji{% if page.titleAfter %} · {{page.titleAfter}}{% endif %}</title>
	<meta name="description" content="{{page.meta}}">
	<meta name="keywords" content="{% if page.keywords %}{{page.keywords}},{% endif %} {{site.keywords}}">
	<meta name="author" content="Ihor Orlovskyi">

	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

	<link rel="icon" type="image/png" href="{{site.baseurl}}/assets/img/favicons/favicon-32.png">

</head>
<body>

	{% include preloader.html %}
	{% include header.html %}

	{{ content }}

	<footer>
		<div class="gigantic"><span class="icon-deer"></span></div>
		<nav class="social">
			<a href="https://www.facebook.com/irukanji.music" target="_blank"><span class="icon-facebook-official"></span> facebook</a>
			<a href="https://soundcloud.com/irukanji-music" target="_blank"><span class="icon-soundcloud"> soundcloud</a>
			<a href="http://coub.com/irukanji.music" target="_blank"><span class="icon-coub"> coub</a>
			<a href="http://www.discogs.com/artist/1375976-Irukanji" target="_blank"><span class="icon-discogs"></span> discogs</a>
			<a href="https://irukanji.bandcamp.com" target="_blank"><span class="icon-bandcamp"></span> bandcamp</a>
		</nav>
		<p class="copyright"><span class="icon-spiral1"></span></p>
		<p>Web Development & Design by <a href="http://ihororlovskyi.github.io/" target="_blank">Ihor Orlovskyi <span class="icon-eagle"></span></a></p>
		<p class="copyright"> Irukanji 2008 - 2015 © All Rights Reserved</p>
		<p class="copyright"><span class="icon-spiral2"></span></p>
	</footer>

	<script src="{{site.baseurl}}/assets/js/vendor/jquery-2.1.1.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/vendor/isotope.pkgd.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/vendor/zoom.js"></script>
	<script src="{{site.baseurl}}/assets/js/main.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-63646319-1', 'auto');
		ga('send', 'pageview');

	</script>
</body>
</html>
