---
layout: default
---

<div class="parallax-window" data-parallax="scroll" data-image-src="{{ site.baseurl }}/assets/img/releases/{{ page.release-id }}-sq.jpg"></div>

<article class="release-page">

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-1">

				<div class="row">
					<div class="col-sm-12">

						<h1>{{ page:title }}</h1>

					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">

						<img src="{{ site.baseurl }}/assets/img/releases/{{ page.release-id }}-sq.jpg" alt='{{ page.title }}' data-action="zoom">

						<p>
							<div>Label: {{ page.label }}</div>
							<div>Release Date: {{ page.date | date: "%-d %B %Y" }}</div>

							{% if page.label-link %}
							<div>Official <a href="http://{{ page.label-link }}" target="_blank">Release Page</a></div>
							{% endif %}

							{% if page.label-bandcamp %}
							<div>Support Label on <a href="http://{{ page.label-bandcamp }}" target="_blank"><span class="icon-bandcamp"></span> bandcamp</a></div>
							{% endif %}
						</p>

						<p><span class="icon-spiral2"></span></p>

						<p>
							{% if page.ektoplazm %}
							<div>Download release from <a href="http://www.ektoplazm.com/{{ page.ektoplazm }}" target="_blank">ektoplazm</a> (mp3, flac, wav)</div>
							{% endif %}

							{% if page.discogs %}
							<div>More release info on <a href="{{ page.discogs }}" target="_blank"><span class="icon-discogs"></span> discogs</a></div>
							{% endif %}
						</p>

					</div>
					<div class="col-sm-7">

						{% if page.bandcamp-album %}
						<p>Listen, download for free (mp3, flac, wav) or donate Irukanji on <a href="https://irukanji.bandcamp.com" target="_blank"><span class="icon-bandcamp"></span> bandcamp</a>. Huge thanks for your support!</p>

						<iframe style="border: 0; width: 100%; height: 900px;" src="https://bandcamp.com/EmbeddedPlayer/album={{ page.bandcamp-album }}/{% if page.bandcamp-track %}track={{ page.bandcamp-track }}/{% endif %}size=large/bgcol=333333/linkcol=0ff/artwork=small/transparent=true/" seamless></iframe>
						{% endif %}

					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">

						{{ content }}

					</div>
				</div>

			</div>
			<div class="col-sm-2">

				{% include sidebar.html %}

			</div>
		</div>
	</div>

</article>
